<div class="widget-container" [ngClass]="widgetSize">
  <div class="widget" [ngClass]="{ flipped: data.flipped }">
    <div class="front">
      <div class="settings-btn">
        <i class="ph ph-gear" (click)="toggleSettingsMenu()"></i>
      </div>
      <div class="flip-icon" (click)="flipCard()">
        <div class="ph ph-flip-horizontal" [ngClass]="{ flipped: data.flipped }"></div>
      </div>
      <i *ngIf="frontIcon">
        <div [class]="frontIcon"></div>
      </i>
      <div *ngIf="!frontIcon">{{ data.labelfront }}</div>
    </div>
    <div class="back">
      <div class="settings-btn">
        <i class="ph ph-gear" (click)="toggleSettingsMenu()"></i>
      </div>
      <div class="flip-icon" (click)="flipCard()">
        <div class="ph ph-flip-horizontal" [ngClass]="{ flipped: data.flipped }"></div>
      </div>
      <div *ngIf="!backIcon">{{ data.labelback }}</div>
    </div>
  </div>

  <div *ngIf="settingsMenuVisible" class="settings-menu">
    <button (click)="changeSize('small')">Piccola</button>
    <button (click)="changeSize('medium')">Media</button>
    <button (click)="changeSize('large')">Grande</button>
  </div>
</div>
