<div class="container">
  <div class="header">
    <h1>Dashboard</h1>
    <div class="dropdown">
      <div class="btn" (click)="toggleMenu()">Add widget</div>
    </div>
  </div>

  <!-- Dialog for selecting widgets -->
  <p-dialog header="Select Widget" [(visible)]="showMenu" [modal]="true" [closable]="true" [style]="{width: '50vw'}">
    <p-carousel
      *ngIf="showMenu"
      [value]="widgetItems"
      [numVisible]="3"
      [numScroll]="3"
      [circular]="false"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-widget pTemplate="item">
        <div class="border-1 surface-border border-round">
          <div class="relative">
            <img
              *ngIf="!widget.flipped"  
              [src]="widget.img"
              [alt]="widget.labelfront"
              class="w-full border-round"
            />
          </div>
          <div class="mb-3 font-medium">
            {{ widget.labelfront }}
          </div>
          <div class="flex justify-content-between align-items-center">
            <div class="mt-0 font-semibold text-xl">
              {{ widget.labelback }}
            </div>
            <span>
              <p-button
                icon="ph ph-plus"
                styleClass="ml-2"
                (click)="onWidgetSelect(widget)"
              />
            </span>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </p-dialog>

  <!-- Display added widgets -->
  <div class="dashboard-widgets">
    <app-widget *ngFor="let w of store.addedWidgets()" [data]="w"></app-widget>
  </div>
</div>
